.warpper{
    display: none;
    width: 300px;
    margin: 0 auto;
    margin-top: 120px;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 5%;
    box-shadow: 2px 2px 3px gray;
}

.box{
    display: none;
    float: left;
    height: 90px;
    width: 32.5%;
    border: 1px solid rgba(0,0,0,0.4);
    text-align: center;
    font-size: 80px;
    font-family: 'Arial';
    background-color: white;
    box-shadow: 1px 1px 3px gray;
    border-radius: 10%;
}

.box:hover{
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.7);  
    background-color: rgb(234,231,231);
}

.clear{
    clear: both;
}